GITHUB_USER=mluxe
GITHUB_TOKEN=github_pat_*******
GIT_DISCOVERY_ACROSS_FILESYSTEM=1

MARIADB_USERNAME=root
MARIADB_PASSWORD=**********
DEBUG=false


MAIL_HOST=smtp.leyun.co.uk
MAIL_PORT=587
MAIL_USERNAME=notification@leyun.co.uk
MAIL_PASSWORD=**********

MAIL_IS_TEST=0
MAIL_TEST_MAIL_TO=someone@gmail.com

OPENAI_KEY=sk-proj-**********
